h1{
    color: darkred;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: darkslategray;
    padding: 50px;
    border: 15px solid orangered;


}
#spanId{
    font-size: 18px;
    margin: 50px;
    background-color: aqua;

}